---
layout: layouts/default
---
<ul>
	{%- for post in collections.posts -%}
		<li>
			<a href="{{ 'posts/' + post.fileSlug | url }}">
				<h2>{{ post.data.title }}</h2>
			</a>
			<date datetime="{{ post.data.date.toUTCString() }}">
				{{ post.data.date.toUTCString() | prettyDate }}
			</date>
		</li>
	{%- endfor -%}
</ul>
