---
layout: layouts/default
---
<ul>
	{%- for post in collections.posts -%}
		<li>
			<h2>
				<a href="{{ 'posts/' + post.fileSlug | url }}">
					{{ post.data.title }}
				</a>
			</h2>
			<date datetime="{{ post.data.date.toUTCString() }}">
				{{ post.data.date.toUTCString() | prettyDate }}
			</date>
		</li>
	{%- endfor -%}
</ul>
