<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
	</head>
	<body>
		{{ content | safe }}
		<ul>
			{%- for post in collections.posts -%}
	  			<li>
					<a href="{{ 'posts/' + post.fileSlug | url }}">
						<h2>{{ post.data.title }}</h2>
					</a>
					<date datetime="{{ post.data.date }}">
						{{ post.data.date }}
					</date>
				</li>
			{%- endfor -%}
		</ul>
	</body>
</html>
