<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% if title %}
				{{title}} &mdash; {{ about.name }}
			{% else %}
				{{ about.name }}
			{% endif %}
		</title>
		{% set css %}{% include "styles/main.css" %}{% endset %}
		{% if project.environment == "production" %}
			<style>{{ css | cssMin | safe }}</style>
		{% else %}
			<style>{{ css | safe }}</style>
		{% endif %}
		{% set js %}{% include "scripts/main.js" %}{% endset %}
		{% if project.environment == "production" %}
			<script>{{ js | jsMin | safe }}</script>
		{% else %}
			<script>{{ js | safe }}</script>
		{% endif %}
	</head>
	<body>
		<header>
			<h1>
				{% if title %}
					{{title}}
				{% else %}
					{{ about.name }}
				{% endif %}
			</h1>
		</header>
		{{ content | safe }}
		<footer>
			<a href="{{ about.source }}tree/master/{{ page.inputPath }}" target="_blank">Edit this page on GitHub.</a>
		</footer>
	</body>
</html>
